.top-container{
  background-color: #e0ebe8 ;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  padding-top: 50px;
}

.bottom-container{
  padding: 50px;
  background-color: #c5ded7;
}

body{
  margin : 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #45b29a;
  line-height: 2;
}

h1{
  margin : 0 auto;
  font-family: 'Clicker Script', cursive;
  font-size: 5.625rem;  /*90px*/
}

h2{
  font-family: 'Montserrat', sans-serif;
  margin: 50px auto;
  color: #1e836c;
  font-size: 2.5rem;  /*60px*/
}

h3{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  font-size: 1.5rem;
}

.intro{
  width: 30%;
  margin: 0 auto;
}

.main-desc{
  margin: 0 auto;
  color: #45b29a;
}

.first-text{
  color:#45b29a;
  font-weight: normal;
  margin-top: 0;
}

p{
  color: #545454;
  font-size: 1em;
  margin-bottom: 100px;;
}

hr{
  margin-top: 50px;
  border-color: #EAF6F6;
  border-style: dotted none none;
  border-width: 6px;
  width: 10%;
}

.skill-row{
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.skill-img1{
  width: 30%;
  margin: auto 30px 0 auto;
  float:left;
}

.skill-img2{
  width: 25%;
  margin: auto auto 0 30px;
  float:right;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px;
}

.otherh3{
  margin-top: 0;
}

.btn{
  background-color:#45b29a;
  padding:10px 50px;
  border-radius: 5px;
  text-decoration: none;
}

/*.Button{
  margin: 50px 0 100px;
}*/

.footer-link{
  text-decoration: none;
  margin: 80px;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 8px;
color: #257B69;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 100;
padding: 15px 40px;
background-color: #45B29A;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;
margin-bottom: 100px;
}

.btn:hover {
background: rgba(33, 133, 111, 0.77);
border: solid #000000 1px;
-webkit-border-radius: 8px;
-moz-border-radius: 20px;
border-radius: 8px;
text-decoration: none;
}

.subscript{
  font-size: 12px;
  color: #257B69;
  margin-top: 50px;
  margin-bottom: 50px;
}

a:link{
  /*Unvisited link*/
  color: #257B69;
}
a:visited{
color: #257B69;
}
a:hover{
  color: white;
}
